@* Shared/Hero.razor *@
@using Microsoft.AspNetCore.Components

<section class="hero-section" style="background-image: url('@BackgroundImage');">
   
</section>

@code {
    [Parameter, EditorRequired] public string BackgroundImage { get; set; } = default!;
    [Parameter, EditorRequired] public string Title           { get; set; } = default!;
    [Parameter, EditorRequired] public string Subtitle        { get; set; } = default!;
    [Parameter, EditorRequired] public string ReadMoreUrl     { get; set; } = default!;
}