@page "/contact"

<Hero ImageUrl="images/heroes/hero-contact.jpg">
    <Title>
        Get&nbsp;in&nbsp;<span class="highlight">Touch</span>
    </Title>
</Hero>

<section>
    <h2>Contact Us</h2>
    <p>Email: <a href="mailto:info@whalleyclimate.co.uk">info@whalleyclimate.co.uk</a></p>
</section>
